# Build outputs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.user
*.userprefs
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# IDE files
.vscode/
.idea/

# Visual Studio files
.vs/
*.vsidx
*.vsdx
*.vsp
*.vssscc
*.vspcc
*.vspx
*.vspscc
*.v2
*.bin
*.bak
*.tmp
*.dbmdl
*.cache
*.pdb
*.pss
*.pidb
*.ncb
*.opensdf
*.sdf

# ASP.NET Core
appsettings*.json
*.db
*.pubxml

# EF Core Migrations
Migrations/

# Frontend dependencies
node_modules/
wwwroot/lib/
jspm_packages/

# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
desktop.ini

# Env files
.env
*.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

# NuGet
[Nn]u[Gg]et/
*.nupkg
packages/

# Other
*.swp
*.swo
*~
~$*
*.orig
*.pyc
*.pyo
*.pdb
*.idb
*.ilk
*.meta