# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
logs/
*.log
*.tlog

# Visual Studio specific
.vscode/
.vs/
*.ide/

# Configuration files
appsettings.Development.json

# Entity Framework Migrations
Migrations/

# Dependency Cache
packages/
node_modules/

# macOS system files
.DS_Store

# JetBrains Rider
.idea/
