## Ignore the build output directory
bin/
obj/

## User-specific files
.idea/
.vscode/

## Windows Installer files
*.cab
*.msi
*.msm
*.msp

## Windows Installer files for Visual Studio
.vs2019/
.vs2017/
.vs2015/

## ASP.NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Npm/Yarn directory
node_modules/

## JetBrains Rider
.idea/

## Mac OS specific files
.DS_Store

## Windows Installer files
Thumbs.db
